.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
padding: 15px;

}
.dialogsItems .active {
    color: white;
}

.dialog {

}


.messages {
padding: 15px;
}

.messag {

}

.avaim {
    width: 60px;
    height: 70px;
    border-radius: 20px;
}
.dimg {
    padding-bottom: 15px;
    margin-left: 10px;
}