
.classNav{
    grid-area: classNav;
    background-color: rgb(126, 179, 110);
    padding: 15px;
    }

.items a {
    color: aliceblue;
    text-decoration: none;
}
.items a.activel {
    color: gold;
}

.ite {
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;

}
